


.topBarNavigation
{
    
    color:White;
     font-size:large;
     cursor:pointer;
     border-bottom:0px;
     
}

.topBarNavigation a:visited
{
    
}

.topBarNavigation a:hover
{
  font-size: x-large;   
  text-decoration:none;
  color:White;
}
.topBarNavigation a:active
{
    
}

.customSelect { 
    font-size:22px;
	background-color:black;
	color:White;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	text-transform:capitalize;
    text-align:left;
	border:1px solid #e7dab0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height:25px;
	border-radius: 5px 5px;
	
	
}

.customSelect.customSelectHover {
/* Styles for when the select box is hovered */
     background-color:skyblue;
}

.customSelect.customSelectOpen {
/* Styles for when the select box is open */
}

.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
}

.customSelectInner {
/* You can style the inner box too */
background:url(../images/arrowBelowSel.png) no-repeat center right;

}


#topMenu tbody > tr > td
{
  width:200px;   
  height:100px;
  text-align:center;
  vertical-align:middle;
  line-height:normal;
}

tbody > tr 
{
  line-height:13px;   
}

.HeadingLeftTop
{
font-family:Verdana; font-weight:bold; font-size:x-large; padding:10px; color:white; width:290px; opacity:1.0; z-index:9; margin:0px;

 background-color:#265D85;
 background-color:#4d4d4d;
}
.SideBar
{
  position:absolute;
  right:0px;top:70px;   
  opacity:0.9;
  background-color:skyblue;
  height:89%;
  width:300px;
  overflow:scroll;
}

.activeLink
{
    font-size:x-large;
}
.editButton
{
  font-size:small;
  color:Gray;
  padding-left:20px;   
}

#NavigationContainer
{
    width:270px; 
    vertical-align:top;
    
}
 #hoverDiv
        {
            
            
            left:0;
            top:0;
            width:100%;
            height:70px;
            background-color:green;
            opacity:0.5;   
            margin:0;
            padding:0;
            
        }

#Navigation
{
margin-left:10px;
font-family:Calibri, Sans-Serif;
font-size:large;
 
}
#Navigation li
{

list-style:none;
padding-right:3%;
padding-top:6px;
font-size:100%;

}
.navy
{
color:#012235;
text-decoration:none;
font-weight:500;
cursor:pointer;
}
.navy a:hover
{
    
    font-size:x-large;
    
    
}
.navy a:active
{
    color:Gray;
    font-size:x-large;
}

.customButton 
{
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:5px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}.customButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.customButton:active {
	position:relative;
	top:1px;
}
body
{
     margin:0px; padding:0px;
     
}
/* This css button was generated by css-button-generator.com */
#navigationTop {
position:relative;
top: 0;
width: 100%;
color: skyblue;
height: 35px;
text-align: center;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
background-color:#0091c2;
color: rgba(1, 1, 1, 0.8);
color:skyblue;

opacity:0.95;
}
#navigationTop a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
font-size:large;
text-decoration: none;
float:inherit;
}

#navigationTop a:hover {
color: #265D85;
color:Black;
} 


.circleButton1
{
    border-top-left-radius:2em; 
    border-bottom-left-radius:2em; 
    margin-right:0px;
   
    
}
.circleButton2
{
     border-top-right-radius:2em;   
      border-bottom-right-radius:2em;   
      margin-right:130px;
      margin-left:0px;
      
     
}
